In [1]:
import pandas as pd
import numpy as np
import seaborn as sns; sns.set()

In [2]:
!ls

abundance.csv			   marker_presence.csv
abundance_stoolsubset.csv	   markers2clades_DB.csv
DATA_698_Syllabus_KHAN_SP221.docx  notes.txt
eda.ipynb			   project_proosal_example2.docx
Kenan_Sooklall_proposal.odt	   project_proposal_example1.docx

In [3]:
df = pd.read_csv('abundance.csv', low_memory=False)

In [4]:
df['bodysite'].unique()

array(['stool', 'nd', 'tongue_dorsum', 'buccal_mucosa',
       'supragingival_plaque', 'anterior_nares', 'posterior_fornix',
       'l_retroauricular_crease', 'r_retroauricular_crease', 'saliva',
       'keratinized_gingiva', 'palatine_tonsils', 'throat',
       'subgingival_plaque', 'vaginal_introitus', 'mid_vagina',
       'hard_palate', 'gomito_dx', 'gomito_sx',
       'solco_retroauricolare_dx', 'solco_retroauricolare_sx', 'skin',
       'mother_faeces', 'infant_faeces', 'milk'], dtype=object)

In [5]:
df[df.columns[1000:1005]].head()

,k__Bacteria|p__Bacteroidetes|c__Sphingobacteriia|o__Sphingobacteriales,k__Bacteria|p__Bacteroidetes|c__Sphingobacteriia|o__Sphingobacteriales|f__Sphingobacteriaceae,k__Bacteria|p__Bacteroidetes|c__Sphingobacteriia|o__Sphingobacteriales|f__Sphingobacteriaceae|g__Pedobacter,k__Bacteria|p__Bacteroidetes|c__Sphingobacteriia|o__Sphingobacteriales|f__Sphingobacteriaceae|g__Pedobacter|s__Pedobacter_unclassified,k__Bacteria|p__Bacteroidetes|c__Sphingobacteriia|o__Sphingobacteriales|f__Sphingobacteriaceae|g__Sphingobacterium
0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0

(WT2D and t2dmeta)

In [6]:
df['disease'].unique()

array(['n', 'obesity', 'leaness', 'nd', 'stec2-positive', ' -',
       'ibd_ulcerative_colitis', 'ibd_crohn_disease', 'n_relative', 'y',
       'cirrhosis', 'obese', 'overweight', '-', 'underweight', 't2d',
       'impaired_glucose_tolerance', 'cancer', 'small_adenoma',
       'large_adenoma'], dtype=object)

In [7]:
df.groupby('dataset_name')['disease'].unique()

dataset_name
Candela_Africa                                                                     [n]
Chatelier_gut_obesity                                            [n, obesity, leaness]
Loman2013_EcoliOutbreak_DNA_HiSeq                                 [stec2-positive,  -]
Loman2013_EcoliOutbreak_DNA_MiSeq                                     [stec2-positive]
Neilsen_genome_assembly              [n, ibd_ulcerative_colitis, ibd_crohn_disease,...
Psoriasis_2014                                                                  [y, n]
Quin_gut_liver_cirrhosis                                                [n, cirrhosis]
Segre_Human_Skin                                                                   [n]
Tito_subsistence_gut                            [n, obese, overweight, -, underweight]
VerticalTransmissionPilot                                                         [nd]
WT2D                                              [impaired_glucose_tolerance, n, t2d]
Zeller_fecal_colorectal_cancer               [n, cancer, small_adenoma, large_adenoma]
doyle_bt2                                                                         [nd]
hmp                                                                                [n]
hmpii                                                                              [n]
metahit                                 [n, ibd_ulcerative_colitis, ibd_crohn_disease]
t2dmeta_long                                                              [n,  -, t2d]
t2dmeta_short                                                                 [t2d, n]
Name: disease, dtype: object

In [33]:
#ddf = df[df['dataset_name'].isin(['t2dmeta_long', 't2dmeta_long', 'WT2D'])].replace('nd',np.nan).replace('na',np.nan).replace('-',np.nan).replace(' -',np.nan)
ddf = df[df['dataset_name'].isin(['t2dmeta_long', 't2dmeta_long', 'WT2D'])].replace(['nd', 'na', '-', ' -'], [np.nan,np.nan,np.nan,np.nan])

In [34]:
ddf.groupby('dataset_name')['disease'].unique()

dataset_name
WT2D            [impaired_glucose_tolerance, n, t2d]
t2dmeta_long                           [n, nan, t2d]
Name: disease, dtype: object

In [35]:
idx = ddf.columns.get_loc('k__Archaea')
meta_df = ddf.iloc[:, 0:idx]
sample_df = ddf.iloc[:, idx:]

In [36]:
meta_df.shape

(435, 211)

Drop all NaN columns

In [54]:
cols = [i for i in meta_df.columns if meta_df[i].nunique() < 2] + ['oral_anti-diabetic_medication', 'years_in_sweden']
len(cols)
meta_df = meta_df.drop(cols, axis=1).replace(['n','impaired_glucose_tolerance',"t2d"],['No Diabetes','Pre-Diabetes',"Type 2 Diabetes"])

In [55]:
meta_df.shape

(435, 45)

In [56]:
meta_df['disease'].value_counts()

Type 2 Diabetes    188
No Diabetes        179
Pre-Diabetes        49
Name: disease, dtype: int64

All values for species >=0, so a column with a max entry of zero means has all zeroes

In [57]:
cols = (sample_df.max() != 0)

In [58]:
sample_df= sample_df[cols[cols].index]

In [64]:
sample_df.head()

,k__Archaea,k__Archaea|p__Euryarchaeota,k__Archaea|p__Euryarchaeota|c__Methanobacteria,k__Archaea|p__Euryarchaeota|c__Methanobacteria|o__Methanobacteriales,k__Archaea|p__Euryarchaeota|c__Methanobacteria|o__Methanobacteriales|f__Methanobacteriaceae,k__Archaea|p__Euryarchaeota|c__Methanobacteria|o__Methanobacteriales|f__Methanobacteriaceae|g__Methanobrevibacter,k__Archaea|p__Euryarchaeota|c__Methanobacteria|o__Methanobacteriales|f__Methanobacteriaceae|g__Methanobrevibacter|s__Methanobrevibacter_smithii,k__Archaea|p__Euryarchaeota|c__Methanobacteria|o__Methanobacteriales|f__Methanobacteriaceae|g__Methanobrevibacter|s__Methanobrevibacter_smithii|t__Methanobrevibacter_smithii_unclassified,k__Archaea|p__Euryarchaeota|c__Methanobacteria|o__Methanobacteriales|f__Methanobacteriaceae|g__Methanobrevibacter|s__Methanobrevibacter_unclassified,k__Archaea|p__Euryarchaeota|c__Methanobacteria|o__Methanobacteriales|f__Methanobacteriaceae|g__Methanosphaera,...,k__Bacteria|p__Proteobacteria|c__Gammaproteobacteria|o__Xanthomonadales|f__Xanthomonadaceae|g__Xanthomonas|s__Xanthomonas_fuscans,k__Bacteria|p__Proteobacteria|c__Gammaproteobacteria|o__Xanthomonadales|f__Xanthomonadaceae|g__Xanthomonas|s__Xanthomonas_fuscans|t__Xanthomonas_fuscans_unclassified,k__Bacteria|p__Tenericutes|c__Mollicutes|o__Mycoplasmatales|f__Mycoplasmataceae|g__Mycoplasma|s__Mycoplasma_bovis,k__Bacteria|p__Tenericutes|c__Mollicutes|o__Mycoplasmatales|f__Mycoplasmataceae|g__Mycoplasma|s__Mycoplasma_bovis|t__Mycoplasma_bovis_unclassified,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides|s__Bacteroides_sp_2_2_4,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides|s__Bacteroides_sp_2_2_4|t__GCF_000157055,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_fusiformis,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_fusiformis|t__Lysinibacillus_fusiformis_unclassified,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_sphaericus,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_sphaericus|t__Lysinibacillus_sphaericus_unclassified
2951,0.33364,0.33364,0.33364,0.33364,0.33364,0.33364,0.33364,0.33364,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2952,0.62579,0.62579,0.62579,0.62579,0.62579,0.62579,0.49776,0.49776,0.12802,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2953,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2954,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2955,0.56233,0.56233,0.56233,0.56233,0.56233,0.56233,0.49446,0.49446,0.06786,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
train_df = meta_df.join(sample_df)

In [84]:
s = train_df['sampleID'].map(train_df.set_index('sampleID')['tcho'])
train_df['cholesterol']= train_df['cholesterol'].mask(train_df['cholesterol'].isnull(), s)

In [83]:
aa = train_df['cholesterol'].fillna(train_df['tcho'])

In [85]:
train_df['cholesterol']

2951    4.77
2952    5.98
2953    4.91
2954    6.92
2955    5.72
        ...
3471    5.39
3472    6.24
3473    5.41
3474    5.55
3475     6.1
Name: cholesterol, Length: 435, dtype: object

In [91]:
aa[~aa.eq(train_df['cholesterol'])]

2974    NaN
2975    NaN
2980    NaN
2981    NaN
3030    NaN
3031    NaN
3044    NaN
3050    NaN
3052    NaN
3053    NaN
3058    NaN
3059    NaN
3060    NaN
3061    NaN
3160    NaN
3165    NaN
3166    NaN
3167    NaN
3168    NaN
3170    NaN
3171    NaN
3173    NaN
3186    NaN
3194    NaN
3203    NaN
3215    NaN
3238    NaN
Name: cholesterol, dtype: object

In [93]:
train_df[train_df.eq(aa)]

,dataset_name,sampleID,subjectID,disease,age,gender,country,pubmedid,bmi,stage,...,k__Bacteria|p__Proteobacteria|c__Gammaproteobacteria|o__Xanthomonadales|f__Xanthomonadaceae|g__Xanthomonas|s__Xanthomonas_fuscans,k__Bacteria|p__Proteobacteria|c__Gammaproteobacteria|o__Xanthomonadales|f__Xanthomonadaceae|g__Xanthomonas|s__Xanthomonas_fuscans|t__Xanthomonas_fuscans_unclassified,k__Bacteria|p__Tenericutes|c__Mollicutes|o__Mycoplasmatales|f__Mycoplasmataceae|g__Mycoplasma|s__Mycoplasma_bovis,k__Bacteria|p__Tenericutes|c__Mollicutes|o__Mycoplasmatales|f__Mycoplasmataceae|g__Mycoplasma|s__Mycoplasma_bovis|t__Mycoplasma_bovis_unclassified,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides|s__Bacteroides_sp_2_2_4,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides|s__Bacteroides_sp_2_2_4|t__GCF_000157055,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_fusiformis,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_fusiformis|t__Lysinibacillus_fusiformis_unclassified,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_sphaericus,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_sphaericus|t__Lysinibacillus_sphaericus_unclassified
2951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3473,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3475,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
train_df['diabetic'].value_counts().sum()

271

In [68]:
train_df['disease'].value_counts().sum()

416

In [69]:
train_df.head()

,dataset_name,sampleID,subjectID,disease,age,gender,country,pubmedid,bmi,stage,...,k__Bacteria|p__Proteobacteria|c__Gammaproteobacteria|o__Xanthomonadales|f__Xanthomonadaceae|g__Xanthomonas|s__Xanthomonas_fuscans,k__Bacteria|p__Proteobacteria|c__Gammaproteobacteria|o__Xanthomonadales|f__Xanthomonadaceae|g__Xanthomonas|s__Xanthomonas_fuscans|t__Xanthomonas_fuscans_unclassified,k__Bacteria|p__Tenericutes|c__Mollicutes|o__Mycoplasmatales|f__Mycoplasmataceae|g__Mycoplasma|s__Mycoplasma_bovis,k__Bacteria|p__Tenericutes|c__Mollicutes|o__Mycoplasmatales|f__Mycoplasmataceae|g__Mycoplasma|s__Mycoplasma_bovis|t__Mycoplasma_bovis_unclassified,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides|s__Bacteroides_sp_2_2_4,k__Bacteria|p__Bacteroidetes|c__Bacteroidia|o__Bacteroidales|f__Bacteroidaceae|g__Bacteroides|s__Bacteroides_sp_2_2_4|t__GCF_000157055,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_fusiformis,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_fusiformis|t__Lysinibacillus_fusiformis_unclassified,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_sphaericus,k__Bacteria|p__Firmicutes|c__Bacilli|o__Bacillales|f__Bacillaceae|g__Lysinibacillus|s__Lysinibacillus_sphaericus|t__Lysinibacillus_sphaericus_unclassified
2951,t2dmeta_long,CON-001,con-001,No Diabetes,21,female,china,23023125,26.3,stage_ii,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2952,t2dmeta_long,CON-002,con-002,No Diabetes,53,female,china,23023125,26.67,stage_ii,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2953,t2dmeta_long,CON-003,con-003,No Diabetes,61,female,china,23023125,25.07,stage_ii,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2954,t2dmeta_long,CON-004,con-004,No Diabetes,55,female,china,23023125,25.39,stage_ii,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2955,t2dmeta_long,CON-005,con-005,No Diabetes,53,female,china,23023125,26.67,stage_ii,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
train_df['cholesterol'].isna().sum()

290

In [29]:
mdf = pd.read_csv('markers2clades_DB.csv', low_memory=False)

In [30]:
mdf.loc[0][0]

'gi|483970126|ref|NZ_KB891629.1|:c6456-5752'

In [31]:
mdf.loc[0][1]

'k__Bacteria|p__Actinobacteria|c__Actinobacteria|o__Actinomycetales|f__Streptomycetaceae|g__Streptomyces|s__Streptomyces_sp_KhCrAH_244'

In [32]:
mdf.head()

,0,1
0,gi|483970126|ref|NZ_KB891629.1|:c6456-5752,k__Bacteria|p__Actinobacteria|c__Actinobacteri...
1,gi|389575461|ref|NZ_CM001487.1|:2807701-2808822,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...
2,gi|225074862|ref|NZ_GG661976.1|:131927-134068,k__Bacteria|p__Proteobacteria|c__Epsilonproteo...
3,gi|512550081|ref|NC_021487.1|:c850702-849971,k__Bacteria|p__Armatimonadetes
4,gi|488673303|ref|NZ_KB850950.1|:c2022168-2021902,k__Bacteria|p__Firmicutes|c__Clostridia|o__Clo...