Getting a Royal Flush

In [1]:
import random
import pandas as pd

random.seed(42)

In [2]:
def deck():
    """
    Create a deck of cards
    """
    suits = ['S', 'H', 'C', 'D']
    ranks = [str(i) for i in range(2, 11)] + ['J', 'Q', 'K', 'A']
    cards = []
    for r in ranks:
        for s in suits:
            cards.append(r+s)
    print(cards)
    return cards

All full deck of cards

In [3]:
cards = deck()

['2S', '2H', '2C', '2D', '3S', '3H', '3C', '3D', '4S', '4H', '4C', '4D', '5S', '5H', '5C', '5D', '6S', '6H', '6C', '6D', '7S', '7H', '7C', '7D', '8S', '8H', '8C', '8D', '9S', '9H', '9C', '9D', '10S', '10H', '10C', '10D', 'JS', 'JH', 'JC', 'JD', 'QS', 'QH', 'QC', 'QD', 'KS', 'KH', 'KC', 'KD', 'AS', 'AH', 'AC', 'AD']

Now we create a list of all possible royal flushes

In [4]:
rf = []
top_ranks = ['A', 'K', 'Q', 'J', '10']
for i in ['S', 'H', 'C', 'D']:
    for j in top_ranks:
        rf.append(j+i)
rfs = [set(rf[i:i+5]) for i in range(0, len(rf), 5)]
rfs

[{'10S', 'AS', 'JS', 'KS', 'QS'},
 {'10H', 'AH', 'JH', 'KH', 'QH'},
 {'10C', 'AC', 'JC', 'KC', 'QC'},
 {'10D', 'AD', 'JD', 'KD', 'QD'}]

Helper function to check if a hand is a royal flush

In [5]:
def check_royal_flush(x):
    return True if set(x) in rfs else False

Make 1 million samples of 5 cards from the deck with replacement.

The idea here is if I played 1 million hands how many can I assume to be royal flushes

In [6]:
df = pd.DataFrame({'samples': [random.sample(cards,5) for i in range(1000000)]})

In [7]:
df

                       samples
0         [QS, 3D, 2H, KD, 6H]
1         [5D, 5C, 4S, KD, 3C]
2        [QD, KD, 10C, 3H, JH]
3         [8D, 2C, 2H, 3H, 5H]
4       [5C, 10S, JC, 2H, 10D]
...                        ...
999995   [6S, JC, 8C, 9C, 10S]
999996   [6D, 8S, JD, KH, 10H]
999997    [9S, KC, 2D, JH, 8H]
999998    [6S, KS, 3D, JS, 6C]
999999    [3S, 8H, 3H, 3C, KD]

[1000000 rows x 1 columns]

In [8]:
df['royal_flush'] = df['samples'].map(check_royal_flush)

In [9]:
df['royal_flush'].value_counts()

False    999999
True          1
Name: royal_flush, dtype: int64

In [10]:
df[df['royal_flush']]

                      samples  royal_flush
195816  [KC, 10C, JC, AC, QC]         True

The actual probabilities from wikipedia

In [11]:
hdf = pd.read_html('https://en.wikipedia.org/wiki/Poker_probability')

In [12]:
hdf[0]

,Hand,Distinct hands,Frequency,Probability,Cumulative probability,Odds against,Mathematical expression of absolute frequency
0,Royal flush,1,4,0.000154%,0.000154%,"649,739Â : 1",NaN
1,Straight flush (excluding royal flush),9,36,0.00139%,0.0015%,"72,192 1/3Â : 1",NaN
2,Four of a kind,156,624,0.02401%,0.0256%,"4,165Â : 1",NaN
3,Full house,156,3744,0.1441%,0.17%,693.17Â : 1,NaN
4,Flush (excluding royal flush and straight flush),1277,5108,0.1965%,0.367%,508.8Â : 1,NaN
5,Straight (excluding royal flush and straight f...,10,10200,0.3925%,0.76%,253.8Â : 1,NaN
6,Three of a kind,858,54912,2.1128%,2.87%,46.33Â : 1,NaN
7,Two pair,858,123552,4.7539%,7.62%,20.0Â : 1,NaN
8,One pair,2860,1098240,42.2569%,49.9%,1.366Â : 1,NaN
9,No pair / High card,1277,1302540,50.1177%,100%,0.995Â : 1,NaN
10,Total,7462,2598960,100%,---,0Â : 1,NaN

I got 1 royal flushes in 1 million hands (1e-06), very close to the true probabilities